**/node_modules
**/.git
.git
!.git/HEAD
!.git/refs/heads
**/*_test.go

client/build/_workspace
client/build/bin

e2e
notifications/vendor
wallet-backend/vendor

*.mp4
*.ppm

wallet-tools/dist/
wallet-tools/chrome-extension/
wallet-tools/json_relay_node/
wallet-tools/json_relay_php/
