
# Wallet app

wallet-app/dist/
wallet-app/src/store/__snapshots__/
wallet-app/coverage/
wallet-app/.started
wallet-app/.yarn_cache/*
!wallet-app/.yarn_cache/.gitkeep
wallet-app/node_modules/
wallet-app/yarn-error.log
