[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  width: 100px;
}

/* Increase size of social media links in page footer */
.md-footer-social {
  font-size: 20px;
}

.md-header {
  background-color: #008ef5;
}

.md-header a {
  color: white !important;
}

.md-header a:hover {
  color: white !important;
}


a {
  color: #004476 !important;
}

a:hover {
  color: #008ef5 !important;
}

.md-footer-nav, .md-footer-meta {
  background: white;
}

.md-footer-meta div {
  color: black !important;
}
