//- stats.jade
extends ./layout.jade

block content
  .grid-container(ng-controller='StatsCtrl')
    .grid-x.grid-margin-x(ng-cloak)
      .cell.large-12
        h4 Blockchain Metrics
      .cell.large-3
        h5 Last Block
        h3 {{ lastBlock | blockTimeFilter }}

      .cell.large-3
        h5 Last Block #
        h3 {{ bestBlock | number}}

      .cell.large-3
        h5 Avg. Block Time
        h3 {{ avgBlockTime | avgTimeFilter }}

      .cell.large-3
        h5 Active Nodes
        h3 {{nodesActive}}/{{nodesTotal}}

      .cell.large-3
        h5 Gas Price
        h3 {{ bestStats.gasPrice.toString() | priceFilter }}

      .cell.large-3
        h5 Gas Limit
        h3 {{ bestStats.block.gasLimit || 0 | number }}

      .cell.large-3
        h5 Stability Fee
        h3 {{ bestStats.block.stabilityFee | priceFilter }}

      .cell.large-3
        h5 Page Latency
        h3 {{ latency }} {{"ms"}}


    .grid-x.grid-margin-x(ng-cloak)
      .cell.large-4
        .chart(class="{{ avgBlockTime | avgTimeClass }}")
          h5 Block Time
          sparkchart.spark-blocktimes(data="{{lastBlocksTime.join(',')}}", tooltipsuffix="s")

      .cell.large-4
        .chart
          h5 Transactions
          sparkchart.spark-transactions(data="{{transactionDensity.join(',')}}")

      .cell.large-4
        .chart
          h5 Gas Spending
          sparkchart.spark-gasspending(data="{{gasSpending.join(',')}}")


    .grid-x.grid-margin-x(ng-cloak)
      .cell.large-12
        h4 Validator Metrics

      .cell.large-3
        h5 Validators
        h3 {{ bestStats.block.validatorCount || 0 | number }}/{{ bestStats.block.maxValidators || 0 | number }}

      .cell.large-3
        h5 Min. Validator Deposit
        h3 {{ bestStats.block.minDeposit | priceFilter }}

      .cell.large-3
        h5 Minted Reward
        h3 {{ bestStats.block.mintedReward | priceFilter }}

      .cell.large-3
        h5 Oracles
        h3 {{ bestStats.block.oracleCount || 0 | number }}

    .grid-x.grid-margin-x(ng-cloak)
      .cell.large-12
        .chart.xdouble-chart(class="{{ blockPropagationAvg | propagationAvgTimeClass : true }}")
          h5 Currency Market Price
          sparkchart.spark-currency-price(data="{{currencyPrice.join(',')}}", tooltipprefix="$")

    .grid-x.grid-margin-x(ng-cloak)
      .cell.large-12
        h4 Nodes
      .cell.large-12
        table
          thead
            tr
              th(ng-click="orderTable(['info.name'], false)") Node
              th(ng-click="orderTable(['stats.latency'], false)") Latency
              th(ng-click="orderTable(['-stats.peers'], false)") Peers
              th(ng-click="orderTable(['-stats.block.number', 'stats.block.propagation'], false)") Last Block
              th(ng-click="orderTable(['-stats.block.received'], false)") Last Block Time
              th(ng-click="orderTable(['stats.propagationAvg'], false)") Avg. Propagation Time
              th(ng-click="orderTable(['-stats.uptime'], false)") Up Time
          tbody
            tr(ng-repeat='node in nodes | orderBy:predicate track by node.id')
              td {{node.info.name}} {{node.info.node | nodeVersion}}
              td {{ node.readable.latency }}
              td {{node.stats.peers}}
              td {{'#'}}{{ node.stats.block.number | number }}
              td {{node.stats.block.received | blockTimeFilter }}
              td {{node.stats.block.propagation | blockPropagationFilter}}
              td {{ node.stats.uptime | upTimeFilter }}
