//- layout.jade
doctype html
html(ng-app="netStatsApp")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    title Kowala - kUSD TESTNET
    style(type="text/css") [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poppins:300,400,500")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
    link(rel='stylesheet', href='/css/netstats.min.css')
  body
    section#nav.container-fluid
      nav.navbar(ng-controller='NavCtrl')
        .navbar-header
          a.navbar-brand(href="/")
            img(src="/kusd-testnet.svg" height="35")
    section#content.container-fluid
      block content

    script(src="/js/netstats.min.js")
